//BASE DIRECTORIES
basedir = "/DATA12/COMUN/cmora/CORALS/"
datadir = "/DATA12/COMUN/cmora/"
condabase = "/home/carlos/miniforge3/envs"

//INPUTS
params.raw_fastq =  "/DATA48/COMUN/cmora/CORALS_all/fastq_trimmed/*_{1,2}.filt.fastq.gz" 

//OUTPUTS
env.results_dir = "$basedir/kmers_results/"

//*****************//
//      RULES      //
//*****************//

// Rule getFastQCIllumina: Quality control of input and trimmed fastq using FastQC
params.jellyfishCount.conda = "$condabase/fastqc-env"
params.resources.jellyfishCount.cpus= 10
params.resources.jellyfishCount.mem = "60 GB"
params.resources.maxForks = 8
params.resources.jellyfishCount.queue = "global" //"fast"
params.resources.jellyfishCount.clusterOptions = "--qos=short" 
params.jellyfishCount.k = 31
params.jellyfishCount.args = "-s 1G --bf-size 1G -C" //maximum size of all assemblies is 426.41 million bases
params.jellyfishCount.do_jellyfish = true


//*****************//
// GENERAL OPTIONS //
//*****************//

cleanup = false
conda.enabled = false
params.resources.default.cpus = 4
params.resources.default.mem = "8 GB"

profiles {
    conda {
      process.conda = "$condabase/fastqc-env"
    }
}

dag {
    enabled = true
    overwrite = true
    file = "pipeline_dag.html"
}
report {
    enabled = true
    overwrite = true
    file = "report.html"
}

//process {
//  executor = "slurm"
//  queueSize = 200
//  submitRateLimit = "10sec"
//  queue = "long"
//}

//        queueSize = 8 
process {   
    withName:jellyfishCount{
        container =  'systemsgenetics/actg-wgaa-jellyfish:2.3.1'
        containerOptions = "--mount type=bind,source=$datadir,target=$datadir"
    }
}

docker {
    enabled = true
    sudo = true
}