//BASE DIRECTORIES
basedir = "/home/carlos/projects/kmerO3/test_data/"
datadir = "/home/carlos/projects/"
condabase = "/home/carlos/miniforge3/envs"

//INPUTS
params.raw_fastq =  "$basedir/*_{1,2}.filt_cut1e6.fastq.gz" 

//OUTPUTS
env.results_dir = "$basedir/results"



//*****************//
//      RULES      //
//*****************//

// Rule getFastQCIllumina: Quality control of input and trimmed fastq using FastQC
params.jellyfishCount.conda = "$condabase/fastqc-env"
params.resources.jellyfishCount.cpus= 1
params.resources.jellyfishCount.mem = "8 GB"
params.resources.jellyfishCount.queue = "global" //"fast"
params.resources.jellyfishCount.clusterOptions = "--qos=short" 
params.jellyfishCount.k = 21
params.jellyfishCount.args = "-s 1G -C"
params.jellyfishCount.do_jellyfish = true


//*****************//
// GENERAL OPTIONS //
//*****************//

cleanup = false
conda.enabled = false
params.resources.default.cpus = 4
params.resources.default.mem = "8 GB"

profiles {
    conda {
      process.conda = "$condabase/fastqc-env"
    }
}

dag {
    enabled = true
    overwrite = true
    file = "pipeline_dag.html"
}
report {
    enabled = true
    overwrite = true
    file = "report.html"
}

//process {
//  executor = "slurm"
//  queueSize = 200
//  submitRateLimit = "10sec"
//  queue = "long"
//}


process {   
    withName:jellyfishCount{
        container =  'systemsgenetics/actg-wgaa-jellyfish:2.3.1'
        containerOptions = "--mount type=bind,source=$datadir,target=$datadir"
    }
}

docker {
    enabled = true
    sudo = true
}